* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* declare variables */
:root {
--dark: #03232d7c;
--dark-blue: #145369;
}

body {
  display: flex;
  flex-direction: column;
}


#viewport {
  background-image: url("../images/tengyart-PmnCG7_2Sc4-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  display: flex;
  height: 100vh;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

nav ul{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;  
}

h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  color: #09151f;
  border: var(--dark) solid 2px;
  background-color: var(--dark);
  border-radius: 5px;
}


.nav-link {
  display: flex;  /*some reason this takes off bullets*/
  margin: 10px;
  background-color: var(--dark);
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  justify-content: center;

}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #09151f;
  border: #09151f solid 1px;
}

/* this is the whole box that contains all of the cards */
#projects {
  padding: 30px;
  /* margin auto centers horizontally in box */
  margin: auto; 
  width: 100%;
  display: flex;
  background-color: white;
  border: solid 2px #072029;
  flex-direction: column;
}

#projects h2{
  display: flex;
  background-color: var(--dark-blue);
  justify-content: center;
}
.project a {
  border: solid 2px #072029;
  padding: 20px;
  flex: 1 0 0;
  min-height: 300px;
  min-width: 300px;
  margin: 20px;
}

.project a:hover {
  border:  solid 4px #072029;
}

ul.project {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex: 1 0 300px; */

}

#profile-pic {
  height: 200px;
  width: 120px;
  margin-bottom: 10px;
  border: var(--dark) solid 2px;
  border-radius: 5px;
  
}

#about-me {
  background-color: var(--dark-blue);
  /* background-size: cover; */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me {
  display: flex;
  text-align: center;
  flex-flow: row wrap;
  max-width: 600px;
  border: #072029 solid 2px;
  padding: 10px;
  border-radius: 5px;
  color: #041014;
}
h2 {
  border: var(--dark) solid 2px;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  color: #041014;
}
li#horiseon {
  flex: 1 0 100%;
}
#space {
  background-image: url(../images/010_crab_nebula-1024x1024.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#taco {
  background-image: url(../images/food.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#brewery {
  background-image: url(../images/beer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#horiseon {
  background-image: url(../images/web-services.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 0 100%;
}
#indian-moto {
  background-image: url(../images/moto-adventure.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#contact {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  }

ul {
    list-style-type: none;
}
ul.contact {
  padding: 20px;
  display: flex;
}
  
ul.contact li {
  padding: 10px;
}

.contact li a {
  border: var(--dark) solid 2px;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--dark);
}
.contact li a:hover, 
.project .project-card:hover{
  color: var(--dark-blue);
}


/* sizing of image within a div */
/* div {
  width: 350px;
  height: 250px; 
  border: 1px solid black;
  background-image: url("./sample.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */